@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/pt-sans-regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/pt-sans-bold.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
  background-color:#F2F2F2;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: var(--black-color);
  background-color: var(--white-color);
  box-shadow: 0 0 10px 2px #cecece;
  max-width: 1200px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.reset-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
  flex-direction: row;

}

.navigation {
  display: flex;
  width: 1200px;
  height: 65px;
  margin: 0 auto;
  flex-wrap: wrap;
  z-index: 5;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  min-width: 310px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  list-style-type: none;
  max-height: 65px;
 }

.navigation-link {
  display: block;
  padding-top: 17px;
  font-family: "PT Sans", sans-serif;
  line-height: 26px;
  text-align: center;
  color: var(--black-color);
  text-decoration: none;
}

.navigation-item:hover {
  display: table;
  border-bottom: 2px solid #756257;
}

.navigation-logo {
  position: relative;
  width: 140px;
  margin-right: 47px;
  margin-top: 0;
  margin-left: 70px;
  z-index:  inherit;
}

.navigation-user {
  max-width: 270px;
  justify-content: space-between;
  padding-top: 14px;
  padding-left: 215px;
  margin-left: 37px;
  border-bottom: none;
  flex-wrap: wrap;
  z-index: 5;
  justify-content: flex-end;
}

.item:hover {
  border-bottom: none;
}

.navigation-user .navigation-item:nth-child(1) .navigation-link{
  background-image: url('./../images/variant-search.svg');
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 36px;
  margin-top: 8px;
  padding-left: 62px;
}

.navigation-user .navigation-item:nth-child(2) .navigation-link{
  background-image: url('./../images/variant-heart.svg');
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 8px;
}

.navigation-link-button {
  font-size: 16px;
  line-height: 20px;
  color: var(--white-color);
  background-color: var(--brown-color);
  text-decoration: none;
  text-align: center;
  border-radius: 4px;
  text-transform: uppercase;
  max-width: 160px;
  padding: 9px 34px 8px 35px;
  margin-top: -3px;
  margin-left: 27px;
}

.main-container {
  flex-grow: 1;
}

.main-inner {
  background-size: auto;
}

.main-picture {
  color: var(--black-color);
  background-color: var(--white-color);
  background-image: url("../images/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  padding-top: 1px;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.main-picture-welcome-text {
  display: block;
  margin: 0 auto;
  margin-top: 51px;
  margin-bottom: 26px;
}

.main-picture-style {
  margin-top: -1px;
  margin-bottom: 58px;
}

.advantages {
  text-align: center;
  background-color: var(--white-color);
  color: var(--black-color);
}

.advantages-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.advantages-title-main {
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: -1px;
  margin-bottom: 31px;
}

.advantages-title {
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 92px;
  margin-bottom: 30px;
  max-width: 230px;
  margin-left: 85px;
  margin-right: 85px;
}

.advantages-item {
  text-align: center;
  display: flex;
}

.advantages-desc {
  margin: 0;
  padding: 0;
  margin-bottom: 90px;
}

.advantages-item-housing {
  background-color: rgba(131, 179, 211, 0.12);
  background-image: url('./../images/icon-house.svg');
  background-repeat: no-repeat;
  background-position: left 165px bottom 236px;
}

.advantages-item-gift {
  background-color: rgba(131, 179, 211, 0.12);
  background-image: url('./../images/icon-gift.svg');
  background-repeat: no-repeat;
  background-position: left 168px bottom 234px;
}

.advantages-item-food {
  background-image: url('./../images/food.svg');
  background-repeat: no-repeat;
  background-position: left 165px bottom 236px;
}

.advantages-item-area {
  background-color: rgba(131, 179, 211, 0.12);
  padding-top: 10px;
}

.advantages-item-road {
  background-color: rgba(131, 179, 211, 0.2);
  padding-top: 10px;
}

.advantages-item-tourists {
  background-color: rgba(131, 179, 211, 0.12);
  padding-top: 10px;
}

.advantages-section {
  padding: 0;
  margin: 0;
}

.blue-background {
  color: var(--white-color);
  background-color: var(--light-blue-color);
  min-height: 384px;
}

.advantages-description {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: 85px;
  margin-right: 85px;
  max-width: 230px;
}

.second-block .housing {
  min-width: 180px;
  text-align: center;
}

.second-block .advantages-title {
  margin-top: 182px;
}

.section-search {
  display: block;
  text-align: center;
  margin: 0;
  margin-top: -10px;
  padding: 0;
  margin-top: -7px;
}

.section-search-title {
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 91px;
  margin-bottom: 30px;
  padding: 0;
}

.section-search-title-index {
  margin-top: 86px;
}

.section-search-desc {
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: 295px;
  margin-right: 304px;
  max-width: 592px;
}

.button {
  border: none;
  cursor: pointer;
}

.section-search .button {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: var(--white-color);
  background-color: var(--brown-color);
  text-transform: uppercase;
  margin-bottom: 93px;
  display: inline-block;
  min-width: 574px;
  margin-top: 22px;
  padding: 12px 15px;
  border-radius: 4px;
}

.section-search-index .button {
  margin-top: 27px;
}

.subscribe {
  text-align: center;
  color: var(--white-color);
  background-color: var(--black-color);
  background-image: url("../images/footer-background.jpg");
  background-size: 100% auto;
  min-height: 411px;
}

.subscribe-title {
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 94px;
  margin-top: 0;
}

.subscribe .field {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  width: 578px;
  height: 60px;
  border-radius: 10px 0px 0px 10px;
  background-color: var(--light-grey-color);
  border: none;
  margin-top: 0;
  width: 600px;
  margin-left: -8px;
  padding: 0;
  box-sizing:border-box;
  margin-left: 0;
  margin-top: 46px;
}

.subscribe-index .field {
  margin-top: 0;
}

.email .field {
  padding-left: 22px;
  padding-right: 5px;
}

.subscribe-title-catalog {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: var(--black-color);
  text-transform: uppercase;
  padding-top: 97px;
  padding-bottom: 30px;
  margin: 0;
}

.subscribe-desc {
  margin-top: 30px;
  margin-bottom: 46px;
  color: var(--black-color);
}

.subscribe-desc-index {
  color: var(--white-color);
}

.subscribe-desc-catalog {
  color: var(--black-color);
  padding: 0;
  margin: 0;
}

.subscribe-catalog {
  background-color: var(--white-color);
  background-image: none;
  padding-top: 23px;
}

.subscribe .subscribe-title {
  margin-bottom: 30px;
}

.subscribe .button {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: var(--white-color);
  background-color: var(--light-blue-color);
  text-transform: uppercase;
  border-radius: 0 10px 10px 0px;
  width: 200px;
  min-height: 60px;
  padding: 0;
  margin: 0;
  margin-left: -6px;
  margin-bottom: 94px;
  box-sizing: border-box;
  padding: 12px 15px 12px 15px;
}

.page-footer {
  background-color: var(--white-color);
  margin-top: 40px;
}

.page-footer-container {
  display: flex;
  width: 1200px;
  margin: 5px auto;
  padding: 0;
  text-align: center;
  justify-content: space-between;
}

.contacts-phone {
  font-size: 40px;
  line-height: 40px;
  color: var(--black-color);
  font-style: normal;
  text-decoration-line: none;
}

.contacts-phone:hover,
.contacts-phone:focus {
  color: #756157;
}

.contacts-phone:active {
  color: #756157;
  opacity: 0.3;
}

.footer-social {
  display: flex;
  max-width: 190px;
  margin-right: 235px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 70px;
  flex-wrap: wrap;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 8px;
  padding: 0;
  max-width: 150px;
  min-height: 20px;
}

.footer-social-logo {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  order: 1;
}

.footer-social-logo {
  color:var(--light-blue-color);
}

.footer-social-vk:hover,
.footer-social-tg:hover,
.footer-social-youtube:hover
.footer-social-vk:focus,
.footer-social-tg:focus,
.footer-social-youtube:focus {
  color: #68A2CA;
}

.footer-social-vk:active,
.footer-social-tg:active,
.footer-social-youtube:active {
  color: rgba(104, 162, 202, 0.3);
}

.footer-social-item {
  width: 48px;
  height: 40px;
  margin-right: 0;
  position: relative;
}

.footer-phone {
  text-align: center;
  margin-bottom: 30px;
}

.footer-logotype {
  margin-left: auto;
  max-width: 115px;
  margin-top: 3px;
  margin-right: 70px;
  display: block;
  cursor: pointer;
  color: var(--black-color);
}

.footer-logotype:hover {
  color: #756157;
}

.footer-logotype:active {
  color: rgba(117, 97, 87, 0.3);
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}
/*ЗАКРЫТЬ МОДАЛЬНОЕ ОКНО*/
.modal-container-close {
  display: none;
}

.modal {
  position: relative;
  margin: auto;
  background-color: #ffffff;
}

.modal-auth {
  width: 714px;
  height: 560px;
  border-radius: 28px;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 55px;
  right: 71px;
  border: none;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  background-color: #F2F2F2;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding-top: 3px;
}

.modal-close-button:hover{
  background-color: #E6E6E6;
}

.modal-close-button:focus {
  outline: 3px solid #83B3D3;
}

.modal-close-button:active {
  background-color:#E6E6E6;
  color: rgba(0, 0, 0, 0.3);
}

.modal-title {
  margin: 0;
  margin-bottom: 24px;
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  padding-left: 67px;
  padding-top: 63px;
}

.modal-label {
  font-family: inherit;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  padding: 0;
  padding-left: 70px;
  max-width: 125px;
  flex-wrap: wrap;
}

.form-label-icon {
  position: relative;
  padding-right: 16px;
}

.field-group-adults {
  display: flex;
  justify-content: flex-start;
  width: 230px;
}

.field-group-childten {
  display: flex;
  padding-left: 112px;
  margin:0;
  width: 230px;
}

.adults {
  font-family: inherit;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  margin: 0;
}

.children {
  font-family: inherit;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  margin: 0;
}

.tooltip {
  position: absolute;
  margin-top: 16px;
  margin-left: -60px;
  width: 256px;
  height: 143px;
}

.tooltip-toggle {
  display: block;
  border: 0;
  background: none;
  height: 9px;
  background-color: #83B3D3;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  padding: 12px;
  margin-left: 116px;
  margin-top: -14px;

}

.tooltip-icon {
  display: block;
  padding-top: 2px;
  padding-left: 1px;
  color: #ffffff;
  position: relative;
  margin-top: -11px;
  margin-left: -10px;
  cursor: pointer;
}

.tooltip-toggle:hover  {
  background-color: #68A2CA;
}

.tooltip-text {
  background-color: #242424;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  text-transform: none;
  padding: 16px 23px 27px 23px;
  border-radius: 8px;
  display: block;
  width: 211px;
  margin-top: 16px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  display: none;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

.tooltip-text:after {
  display: block;
  content:'';
  background-image: url("./../images/arrow-tooltip.svg");
  width: 14px;
  height: 6px;
  position:absolute;
  transform: translateY(-5px);
  top: 0;
  left:0;
  right:0;
  margin-left: auto;
  margin-right: auto;
}

.people-group {
  display: flex;
  justify-content: flex-start;
  padding-left: 70px;
  padding-top: 23px;
}

.button-to-find {
  padding: 0;
  width: 575px;
  min-height: 60px;
  border-radius: 10px;
  background-color: #83B3D3;
  box-sizing: border-box;
  margin: 38px 70px 70px 70px;
  font-family: inherit;
  font-size: 20px;
  line-height: 38px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  text-transform: uppercase;
}

.button-to-find:hover {
  background-color: #68A2CA;
}

.button-to-find:focus {
  outline: 3px solid #756257
}

.button-to-find:active {
  color: rgba(255, 255, 255, 0.3);
}

.date-icon {
  position: absolute;
  padding: 5px 0px 0px 608px;
  color: rgba(0, 0, 0, 0.3);
  background-color: transparent;
  border: none;
}

.departure-date-icon {
  position: absolute;
  padding: 5px 0px 0px 608px;
  color: rgba(0, 0, 0, 0.3);
  background-color: transparent;
  border: none;
}

.quantity {
  font-family: inherit;
  text-align: center;
  font-size: 18px;
  height: 50px;
  border-radius: 4px;
  border: none;
  background-color: #F2F2F2;
  appearance: textfield;
  -webkit-appearance: none;
  margin-left: 48px;
  margin-top: -27px;
  padding: 0;
  cursor: pointer;
}

.childten-quantity {
  margin-left: 33px;
  padding-left: 45px;
  padding-right: 45px;
  box-sizing: border-box;
}

.adults-quantity {
  padding-left: 45px;
  padding-right: 45px;
  box-sizing: border-box;
}

.auth-form-field  {
  width: 420px;
  height: 50px;
  background-color: #F2F2F2;
  border: none;
  border-radius: 4px;
  margin: 0;
  margin-left: 19px;
  margin-top: -20px;
  padding: 0;
  padding-left: 19px;
  padding-right: 50px;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  cursor: pointer;
}


.auth-form-field:hover {
  background-color: #E6E6E6;
}

.auth-form-field:focus {
  background-color: #E6E6E6;
  outline: 3px solid #83B3D3;
}

.auth-form-field:active {
  background-color: #ffffff;
  outline: 2px solid #000000;
  outline-offset: -3px;
}

.footnone {
  font-family: inherit;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  padding-left: 225px;
  margin: 0;
  margin-top: 8px;
}

.footnone:invalid {
  color: #FF5757;
}

.footnone-arrival-date {
  margin-top: 8px;
}

.field-group {
  margin:0;
  padding-top: 13px;
  margin: 0;
  list-style: none;
}

.departure-date {
  margin-left: 14px;
  cursor: pointer;
}

.departure-group {
  padding-top: 24px;
  appearance: none;
  margin: 0;
}

.quantity-buttons {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top:355px;
  left: 525px;
  border: none;
  cursor: pointer;
  appearance: none;
}

.quantity-buttons-adults {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top:355px;
  left: 239px;
  border: none;
  cursor: pointer;
  appearance: none;
}

.plus-icon {
  margin-left: 52px;
  padding: 6px;
  border: none;
  cursor: pointer;
  opacity: 0.3;
}

.minus-icon {
  margin:0;
  border: none;
  cursor: pointer;
  position: relative;
  opacity: 0.3;
  padding: 3px;
}

.plus-icon:hover,
.minus-icon:hover {
  color: #000000;
  opacity: 1;
}

.plus-icon:focus,
.minus-icon:focus {
  outline: 3px solid #83B3D3;
  outline-offset: -4px;
  border-radius: 7px;
  opacity: 1;
}

.plus-icon:active,
.minus-icon:active {
  color: #000000;
  opacity: 0.2;
}

.search-hotels-form {
 margin: 0;
 padding-top: 35px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}

.hotel-sedona {
  font-size: 16px;
  line-height: 21px;
  color: var(--white-color);
}

.inner-header-title-main {
  font-size: 60px;
  line-height: 79px;
  color: var(--white-color);
  padding: 30px 0px 10px 70px;
  margin: 0;
}

.hotel-filter {
  display: flex;
  padding: 11px 72px 76px 72px;
  width: 1056px;
}

.hotel-list {
  background-color: var(--white-color);
  margin-top: 10px;
}

.hotel-card-title-link {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.hotel-card-content {
  display: flex;
  flex-direction: column;
  margin: 0;
  flex-grow: 1;
  margin-top: -1px;
}

.hotel-card {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  width: 300px;
}

.hotel-card-list  {
  padding: 0px 92px;
  display: grid;
  grid-template-columns: repeat(3, 300px);
  list-style-type: none;
  width: 1056px;
  gap: 58px;
  margin: 0;
  margin-bottom: 97px;
}

.green-tree-inn {
  margin-top: -8px;
}

.flex-hotel-card {
  display: flex;
  justify-content: space-between;
  width: 300px;
}

.flex-button {
  display: flex;
  justify-content: space-between;
  width: 300px;
  margin-top: -1px;
}

.flex-rating {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-top: 16px;
  width: 300px;
  flex-wrap: wrap;
}

.rating-area-four {
  background-image: url(./../images/variant-star.svg);
  width: 88px;
  height: 17px;
  background-repeat: space;
  margin-top: 26px;
}

.rating-area-three {
  background-image: url(./../images/variant-star.svg);
  width: 66px;
  height: 17px;
  background-repeat: space;
  margin-top: 26px;
}

.rating-area-two {
  background-image: url(./../images/variant-star.svg);
  width: 42px;
  height: 17px;
  background-repeat: space;
  margin-top: 26px;
}

.hotel-list-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: auto 191px auto 0;
}

.button-filter {
  display: inline-block;
  box-sizing: border-box;
  padding: 5px;
  width: 48px;
  height: 48px;
  margin-top: auto;
}

.card-grid-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 8px;
  border: solid 2px var(--light-grey-color);
  border-radius: 4px;
  width: 48px;
  height: 48px;
}

.card-grid-toggle svg {
  fill: var(--black-color);
}

.card-grid-toggle {
  border: solid 2px var(--light-grey-color);
  width: 48px;
  height: 48px;
  border-radius: 4px;
}

.card-grid-toggle:hover {
  border: solid 2px var(--black-color);
}

.card-grid-toggle:focus {
  border: solid 2px #68A2CA;
}

.card-grid-toggle:active {
  border: solid 2px var(--black-color);
}

.range {
  width: 287px;
  padding-left: 101px;
  margin: 0;
  padding-top: 30px;
}

.range-scale {
  position: relative;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 2px;
  max-width: 287px;
  margin-top: 29px;
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
  margin-top: -1px;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 20%;
  cursor: pointer;
}

.range-toggle:hover {
  background-color: #ffffff;
}

.range-toggle:focus {
  outline: 3px solid #83B3D3;
}

.range-toggle:active {
  outline: 2px solid #83B3D3;
}

.toggle-min {
  top: -8px;
  left: 0px;
}

.toggle-max {
  top: -8px;
  right: -6px;
}

.range-wrapper-inputs {
  display: flex;
  justify-content: space-between;
}

.catalog-filter-label {
  display: flex;
  margin-right: 5px;
}

.catalog-filter-label .range-input:hover {
  border-color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
}

.catalog-filter-label .range-input:focus {
  box-shadow: inset 0 0 0 2px #81B3D2;
  outline: 2px solid #81B3D2;
  cursor: pointer;
}

.catalog-filter-label .range-input:active{
   background-color: #756257;
 }

.range-input {
  width: 30px;
  padding: 0 20px;
  font: inherit;
  text-align: left;
  background-color: transparent;
  border: none;
  appearance: textfield;
  border: 2px solid #ffffff;
  width: 147px;
  height: 48px;
  color: #ffffff;
  margin-top: -26px;
  border-radius: 4px 0px 0px 4px;
  box-sizing: border-box;
  margin-right: 0;
  font-size: 18px;
}

input.range-input::placeholder {
  transform: translateX(90px);
  padding: 0 auto;
}

.input-max-price {
  margin-left: -6px;
  padding-left: 13px;
  border-radius: 0px 4px 4px 0px;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.control {
  position: relative;
  display: block;
  padding-left: 40px;
}

.control-mark {
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background-color: #ffffff;
  cursor: pointer;
}

.control-input:checked + .control-mark {
  background-color: #ffffff;
  background-image: url(./../images/check-mark.svg);
  background-repeat: no-repeat;
  position: absolute;
  background-size: 12px 9px;
  padding: 0 auto;
  background-position: center;
}

.control:hover .control-mark {
  background-color: rgba(255, 255, 255, 0.6);
}

.control:focus .control-mark {
  outline: 3px solid #83B3D3;
  background-color: rgba(255, 255, 255, 0.6);
  box-sizing: border-box;
}

.control:active .control-mark {
  background-color: rgba(255, 255, 255, 0.3);
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
  background-image: none;
  box-sizing: border-box;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background-color: #3F5E72;
  border-radius: 50%;
  content: "";
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background-color: #3F5E72;
  border-radius: 50%;
  content: "";
  box-sizing: border-box;
}

.control-input[type="radio"] + .control-mark:hover {
  border-radius: 50%;
  background-image: none;
  background-color: #FFFFFF;
  box-sizing: border-box;
}

.control-input[type="radio"] + .control-mark:focus {
  border-radius: 50%;
  background-image: none;
  background-color: #FFFFFF;
  outline: 3px solid #83B3D3;
  box-sizing: border-box;
}

.control-input[type="radio"] + .control-mark:active {
  border-radius: 50%;
  background-image: none;
  background-color: #FFFFFF;
  box-sizing: border-box;
}

.catalog-filter {
  color: var(--white-color);
  display: flex;
  width: 1056px;
  margin-right: 0px;
  margin-top: 36px;
  margin-bottom: 70px;
  margin-left: 70px;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  padding-bottom: 30px;
}

 .catalog-filter-group .cost {
  margin-left: 99px;
}

.catalog-filter-group {
  flex-direction: column;
  font-size: 18px;
  line-height: 21px;
  width: 150px;
  margin: 0;
  margin-left: 0;
  margin-right: 70px;
  border: none;
  margin-bottom: 40px;
  padding: 0;
}

.catalog-filter-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.catalog-filter-item:nth-last-child(n+2) {
  padding-bottom: 16px;
}

.control-input {
  margin-right: 19px;
}

.catalog-filter-form {
  display: flex;
}

.breadcrumbs {
  max-width: 110px;
}

.breadcrumbs:hover {
  opacity: 0.6;
}

.breadcrumbs:focus {
  color: var(--white-color);
}

.breadcrumbs:active {
  opacity: 0.3;
}

.breadcrumbs-link {
  padding-left: 10px;
  padding-top: 19px;
  color: var(--white-color);
}

.icon-home {
  position: relative;
  fill: var(--white-color);
  padding-left: 68px;
  padding-top: 2px;
}

.arrow-breadcrumbs {
  padding-left: 6px;
}

.button-catalog {
  display: inline-block;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: var(--white-color);
  background-color: var(--light-blue-color);
  text-transform: uppercase;
  margin-top: 17px;
  padding: 0;
  max-width: 160px;
  min-height: 48px;
  border-radius: 4px;
}

.catalog-filter-button {
  display: flex;
  flex-direction: column;
  margin-top: 42px;
}

.reset {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: var(--white-color);
  font-weight: 400;
  background-color: transparent;
  text-align: center;
  box-sizing: border-box;
  margin: 15px 42px;
  border-radius: 5px;
  border: 3px solid transparent;
}

.reset:hover {
  color: rgba(255, 255, 255, 0.6);
  border: 3px solid transparent;
}

.reset:focus  {
  border: 3px solid #83B3D3;
  border-radius: 4px;
}

.reset:active {
  color: rgba(255, 255, 255, 0.3);
  border: 3px solid transparent;
}

.select-control {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  width: 160px;
  height: 50px;
  margin-right: auto;
  padding-left: 19px;
  padding-right: 48px;
  background-image: url('./../images/variant-arrow.svg');
  background-repeat: no-repeat;
  background-position: left 253px bottom 12px;
}

.select-aria-label {
  width: 290px;
  appearance: none;
  border-radius: 4px;
  border: 2px solid var(--select-label);
}

.select-aria-label:hover,
.select-aria-label:focus {
  border: 2px solid #68A2CA;
}

.select-aria-label:active {
  border: 2px solid #3F5E72;
}

.select-aria-label:disabled {
  width: 290px;
  appearance: none;
  border: 2px solid rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.3);
}

.select-hotels-total {
  appearance: none;
  border-radius: 4px;
  border: 2px solid var(--select-label);
  background-position: left 123px bottom 12px;
  margin-top: 16px;
}

.hotel-card-name {
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: var(--black-color);
  text-decoration: none;
  padding: 14px 0px;
  margin: 0;
}

.hotel-card-link {
  text-decoration: none;
}

.hotel-card-title {
  font-size: 18px;
  line-height: 21px;
  padding: 0px 0px 16px 0px;
  margin: 0;
  width: 140px;
}

.hotel-card-price {
  font-size: 18px;
  line-height: 21px;
  width: 140px;
  padding-left: 20px;
  margin: 0;
}

.button-basic {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: var(--white-color);
  background-color: var(--brown-color);
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  min-width: 140px;
  padding-top: 9px;
  padding-bottom: 8px;
}

.button-basic:hover {
  background-color: #615048;
}

.button-basic:focus {
  background-color: #615048;
}

.button-basic:active{
  background-color: #756157;
}

.button-basic:active {
  color:rgba(255, 255, 255, 0.3);
}

.button-basic:disabled {
  background-color:#E5E5E5;
}

.button-second {
  background-color: var(--light-blue-color);
  border: none;
}

.button-second:hover  {
  background-color: #68A2CA;
}

.button-second:focus {
  background-color: #68A2CA;
}

.button-second:active {
  color:rgba(255, 255, 255, 0.3);
}

.button-second:disabled {
  background-color:#E5E5E5;
}

.button-selected {
  background-color: var(--green-color);
  border: none;
}

.button-selected:hover {
  background-color: #6C9E42;
}

.button-selected:focus {
  background-color: #6C9E42;
}

.button-selected:active {
  color:rgba(255, 255, 255, 0.3);
}

.button-selected:disabled {
  background-color:#E5E5E5;
}

.rating-button {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  background-color: var(--light-grey-color);
  border: none;
  border-radius: 4px;
  min-width: 140px;
  min-height: 37px;
  padding: 0;
  text-transform: uppercase;
  margin-left: 160px;
  margin-top: -26px;
}

.hotel-card-image {
  background-image: url("../images/variant-star.svg");
  border-image-repeat: repeat;
}

.pagination {
  display: flex;
  padding: 0;
  margin: 0;
  margin-top: 11px;
  list-style-type: none;
  background-color: var(--white-color);
  margin-right: 8px;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-container {
  display: flex;
  background-color: var(--white-color);
  margin-top: 70px;
  margin-left: 73px;
  justify-content: space-between;
  width: 1056px;
  border-top: 2px solid #E6E6E6;
  padding-top: 17px;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  min-width: 60px;
  min-height: 60px;
  border-radius: 4px;
  text-align: center;
  color: var(--white-color);
  background-color: var(--light-blue-color);
  text-decoration: none;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  padding-top: 12px;
}

.pagination-link:hover:nth-child(1),
.pagination-link:focus:nth-child(1) {
  background-color: var(--light-blue-color);
}

.pagination-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.pagination-current {
  color: var(--pagination-color);
  background-color: var(--light-grey-color);
  cursor: pointer;
}

.pagination-current:nth-child(1):hover,
.pagination-current:nth-child(1):focus {
  background-color: var(--light-grey-color);
}

.pagination-current:nth-child(1):active {
  color: var(--pagination-color);
}

.hotels-total {
  padding-top: 30px;
  margin: 0;
  font-size: 18px;
  line-height: 21px;
  padding-left: 210px;
}

.main-inner {
  background-image: url("../images/catalog-background-top-1.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

:root {
  --black-color: #333333;
  --white-color: #ffffff;
  --light-grey-color: #F2F2F2;
  --light-blue-color: #82B3D3;
  --select-label: #E5E5E5;
  --brown-color: #756157;
  --green-color: #7DB54F;
  --pagination-color: #000000;
}

.first-block,
.third-block,
.fourth-block {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.box-1,
.box-2,
.box-3 {
  min-width: 400px;
  min-height: 384px;
  margin: 0;
  text-align: center;
  padding: 0;
  margin-top: -3px;
  }

.second-block {
  display: flex;
}

