@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/pt-sans-regular.woff2") format("woff2");
  font-display: swap;
}


@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/pt-sans-bold.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  background-color: #ffffff;
}

.navigation-link {
  font-family: "PT Sans", sans-serif;
  line-height: 26px;
  text-align: center;
  color: #333333;
  text-decoration: none;
}


.navigation-list {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}

.navigation-link-button {
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
}

.main-index {
  color: #333333;
  background-color: #ffffff;
  background-image: url("../images/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;

}

.advantages{
  text-align: center;
  background-color: #ffffff;
  color:#333333;
}

.advantages-title-main {
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}


.advantages-title {
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.advantages-item-housing {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-gift {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-area {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-road {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item-tourists {
  background-color: rgba(131, 179, 211, 0.12);
}


.blue-background {
  color: #ffffff;
  background-color: #82B3D3;
}

.advantages-description {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
}

.section-search-title {
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.button {
  border: none;
  cursor: pointer;
}


.section-search .button {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color:#ffffff;
  background-color: #756157;
  text-transform: uppercase;
}

.subscribe {
  text-align: center;
  color: #ffffff;
  background-color: #333333;
  background-image: url("../images/footer-background.jpg");
  background-size: 100% auto;
}


.subscribe-title {
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}
.subscribe .field {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #F2F2F2;
  border: none;
}


.subscribe-title-catalog {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #333333;
  text-transform: uppercase;
}

.subscribe-desc-catalog {
  color: #333333;
}

.subscribe-catalog {
  background-color: #ffffff;
  background-image: none;
}

.subscribe .button {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  background-color: #82B3D3;
  text-transform: uppercase;
}

.section-search {
  text-align: center;
}

.page-footer{
  background-color: #ffffff;
}
.contacts-phone {
  font-size: 40px;
  line-height: 40px;
  color: #333333;
  font-style: normal;
  text-decoration-line: none;
}

.footer-phone{
  text-align: center;
}

.hotel-sedona {
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}

.inner-header-title-main {
  font-size: 60px;
  line-height: 79px;
  color: #ffffff;
}


.hotel-list-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.navigation-link-catalog {
  color: #ffffff;
  text-decoration: none;
}

.catalog-filter {
  color: #ffffff;
}


.catalog-filter-title {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;

}

.catalog-filter-group {
  font-size: 18px;
  line-height: 21px;
}

.button-catalog {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  background-color: #82B3D3;
  text-transform: uppercase;
}


.reset {
  color: #ffffff;
  background-color: #333333;
  border: none;
}


.select-control {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
}

 .hotel-card-name {
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color:#333333;
  text-decoration: none;

}

.hotel-card-link {
  text-decoration: none;
}

.hotel-card-title {
  font-size: 18px;
  line-height: 21px;
}

.hotel-card-price {
  font-size: 18px;
  line-height: 21px;
}

.button-basic {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
}


.button-second {
  background-color:#82B3D3;
  border: none;
}

.button-selected {
  background-color: #7DB54F;
  border: none;
}

.rating-button {
  font-size: 16px;
  line-height: 20px;
  background-color: #F2F2F2;
  border: none;
}

.hotel-card-image {
  background-image: url("../images/variant-star.svg");
  border-image-repeat: repeat;
}

.pagination {
  background-color: #ffffff;
}

.pagination-link {
  color: #ffffff;
  background-color: #82B3D3;
  text-decoration: none;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
}

.pagination-current {
  color: #242424;
  background-color: #F2F2F2;
}

.hotels-total {
  font-size: 18px;
  line-height: 21px;
}

.main-inner {
background-image: url("../images/catalog-background-top-1.jpg");
background-size: 100% auto;
background-repeat: no-repeat;
}
