@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/pt-sans-regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/pt-sans-bold.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: var(--black-color);
  background-color: var(--white-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.reset-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
  flex-direction: row;
}

.navigation {
  display: flex;
  width: 1200px;
  height: 65px;
  margin: 0 auto;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  min-width: 310px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  list-style-type: none;
 }

.navigation-link {
  display: block;
  padding-top: 17px;
  font-family: "PT Sans", sans-serif;
  line-height: 26px;
  text-align: center;
  color: var(--black-color);
  text-decoration: none;
}

.navigation-item:hover {
  display: table;
  border-bottom: 2px solid #756257;
}

.navigation-logo {
  position: relative;
  width: 140px;
  margin-right: 47px;
  margin-top: 0;
  margin-left: 70px;
  z-index:  inherit;
}

.navigation-user {
  max-width: 270px;
  justify-content: space-between;
  padding-top: 14px;
  padding-left: 215px;
  margin-left: 37px;
  border-bottom: none;
}

.item:hover {
  border-bottom: none;
}

.navigation-user .navigation-item:nth-child(1) .navigation-link{
  background-image: url('./../images/variant-search.svg');
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 36px;
  margin-top: 8px;
  padding-left: 62px;
}

.navigation-user .navigation-item:nth-child(2) .navigation-link{
  background-image: url('./../images/variant-heart.svg');
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 8px;
}

.navigation-link-button {
  font-size: 16px;
  line-height: 20px;
  color: var(--white-color);
  background-color: var(--brown-color);
  text-decoration: none;
  text-align: center;
  border-radius: 4px;
  text-transform: uppercase;
  width: 160px;
  padding: 9px 0px 8px 0px;
  margin-top: -3px;
  margin-left: 29px;
}

.main-container {
  flex-grow: 1;
}

.main-inner {
  background-size: auto;
}

.main-picture {
  color: var(--black-color);
  background-color: var(--white-color);
  background-image: url("../images/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  padding-top: 1px;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.main-picture-welcome-text {
  display: block;
  margin: 0 auto;
  margin-top: 51px;
  margin-bottom: 26px;
}

.main-picture-style {
  margin-top: -1px;
  margin-bottom: 58px;
}

.advantages {
  text-align: center;
  background-color: var(--white-color);
  color: var(--black-color);
}

.advantages-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.advantages-title-main {
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 31px;
}

.advantages-title {
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 92px;
  margin-bottom: 30px;
  max-width: 230px;
  margin-left: 85px;
  margin-right: 85px;
}

.advantages-item {
  text-align: center;
  display: flex;
}

.advantages-desc {
  margin: 0;
  padding: 0;
  margin-bottom: 90px;
}

.advantages-item-housing {
  background-color: rgba(131, 179, 211, 0.12);
  background-image: url('./../images/icon-house.svg');
  background-repeat: no-repeat;
  background-position: left 165px bottom 236px;
}

.advantages-item-gift {
  background-color: rgba(131, 179, 211, 0.12);
  background-image: url('./../images/icon-gift.svg');
  background-repeat: no-repeat;
  background-position: left 168px bottom 234px;
}

.advantages-item-food {
  background-image: url('./../images/food.svg');
  background-repeat: no-repeat;
  background-position: left 165px bottom 236px;
}

.advantages-item-area {
  background-color: rgba(131, 179, 211, 0.12);
  padding-top: 10px;
}

.advantages-item-road {
  background-color: rgba(131, 179, 211, 0.2);
  padding-top: 10px;
}

.advantages-item-tourists {
  background-color: rgba(131, 179, 211, 0.12);
  padding-top: 10px;
}

.advantages-section {
  padding: 0;
  margin: 0;
}

.blue-background {
  color: var(--white-color);
  background-color: var(--light-blue-color);
}

.advantages-description {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: 85px;
  margin-right: 85px;
  max-width: 230px;
}

.second-block .housing {
  min-width: 180px;
  text-align: center;
}

.second-block .advantages-title {
  margin-top: 182px;
}

.section-search {
  display: block;
  text-align: center;
  margin: 0;
  margin-top: -10px;
  padding: 0;
}

.section-search-title {
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 91px;
  margin-bottom: 30px;
  padding: 0;
}

.section-search-desc {
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: 304px;
  margin-right: 304px;
  max-width: 592px;
}

.button {
  border: none;
  cursor: pointer;
}

.section-search .button {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: var(--white-color);
  background-color: var(--brown-color);
  text-transform: uppercase;
  margin-bottom: 93px;
  display: inline-block;
  min-width: 574px;
  margin-top: 22px;
  padding: 12px 15px;
  border-radius: 4px;
}

.subscribe {
  text-align: center;
  color: var(--white-color);
  background-color: var(--black-color);
  background-image: url("../images/footer-background.jpg");
  background-size: 100% auto;
  min-height: 411px;
}

.subscribe-title {
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 94px;
  margin-top: 0;
}

.subscribe .field {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  width: 578px;
  height: 60px;
  border-radius: 10px 0px 0px 10px;
  background-color: var(--light-grey-color);
  border: none;
  margin-top: 0;
  width: 600px;
  margin-left: -8px;
  padding: 0;
  box-sizing:border-box;
  margin-left: 0;
  margin-top: 46px;
}

.email .field {
  padding-left: 22px;
}

.subscribe-title-catalog {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: var(--black-color);
  text-transform: uppercase;
  padding-top: 94px;
  padding-bottom: 30px;
  margin: 0;
}

.subscribe-desc {
  margin-top: 30px;
  margin-bottom: 46px;
  color: var(--black-color);
}

.subscribe-desc-catalog {
  color: var(--black-color);
  padding: 0;
  margin: 0;
}

.subscribe-catalog {
  background-color: var(--white-color);
  background-image: none;
  padding-top: 25px;
}

.subscribe .subscribe-title {
  margin-bottom: 30px;
}

.subscribe .button {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: var(--white-color);
  background-color: var(--light-blue-color);
  text-transform: uppercase;
  border-radius: 0 10px 10px 0px;
  width: 200px;
  height: 60px;
  padding: 0;
  margin: 0;
  margin-left: -6px;
  margin-bottom: 94px;
  box-sizing: border-box;
  padding: 12px 15px 12px 15px;
}

.page-footer {
  background-color: var(--white-color);
  margin-top: 40px;
}

.page-footer-container {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  justify-content: space-between;
}

.contacts-phone {
  font-size: 40px;
  line-height: 40px;
  color: var(--black-color);
  font-style: normal;
  text-decoration-line: none;
}

.contacts-phone:hover,
.contacts-phone:focus {
  color: #756157;
}

.contacts-phone:active {
  color: #756157;
  opacity: 0.3;
}

.footer-social {
  display: flex;
  max-width: 190px;
  margin-right: 235px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 70px;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 8px;
  margin-left: 5;
  padding: 0;
}

.footer-social-logo {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  order: 1;
}

.footer-social-logo {
  color:var(--light-blue-color);
}

.footer-social-vk:hover,
.footer-social-tg:hover,
.footer-social-youtube:hover
.footer-social-vk:focus,
.footer-social-tg:focus,
.footer-social-youtube:focus {
  color: #68A2CA;
}

.footer-social-vk:active,
.footer-social-tg:active,
.footer-social-youtube:active {
  color: rgba(104, 162, 202, 0.3);
}

.footer-social-item {
  width: 48px;
  height: 40px;
  margin-right: 0;
  position: relative;
}

.footer-phone {
  text-align: center;
  margin-bottom: 30px;
}

.footer-logotype {
  margin-left: auto;
  max-width: 115px;
  margin-top: 3px;
  margin-right: 70px;
  display: block;
  cursor: pointer;
  color: var(--black-color);
}

.footer-logotype:hover {
  color: #756157;
}

.footer-logotype:active {
  color: rgba(117, 97, 87, 0.3);
}

.hotel-sedona {
  font-size: 16px;
  line-height: 21px;
  color: var(--white-color);
}

.inner-header-title-main {
  font-size: 60px;
  line-height: 79px;
  color: var(--white-color);
  padding: 30px 0px 10px 70px;
  margin: 0;
}

.hotel-filter {
  display: flex;
  padding: 50px 72px 76px 72px;
  width: 1056px;
}

.hotel-list {
  background-color: var(--white-color);
  margin-top: 10px;
}

.hotel-card-title-link {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.hotel-card-content {
  display: flex;
  flex-direction: column;
  margin: 0;
  flex-grow: 1;
  margin-top: -2px;
}

.hotel-card {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  width: 300px;
}

.hotel-card-list  {
  padding: 0px 92px;
  display: grid;
  grid-template-columns: repeat(3, 300px);
  list-style-type: none;
  width: 1056px;
  gap: 58px;
  margin: 0;
  margin-bottom: 97px;
}

.green-tree-inn {
  margin-top: -8px;
}

.flex-hotel-card {
  display: flex;
  justify-content: space-between;
  width: 300px;
}

.flex-button {
  display: flex;
  justify-content: space-between;
  width: 300px;
  margin-top: -3px;
}

.flex-rating {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-top: 16px;
  width: 300px;
}

.rating-area-four {
  background-image: url(./../images/variant-star.svg);
  width: 88px;
  height: 17px;
  background-repeat: space;
  margin-top: 26px;
}

.rating-area-three {
  background-image: url(./../images/variant-star.svg);
  width: 66px;
  height: 17px;
  background-repeat: space;
  margin-top: 26px;
}

.rating-area-two {
  background-image: url(./../images/variant-star.svg);
  width: 42px;
  height: 17px;
  background-repeat: space;
  margin-top: 26px;
}

.hotel-list-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: auto 191px auto 0;
}

.button-filter {
  display: inline-block;
  box-sizing: border-box;
  padding: 5px;
  width: 48px;
  height: 48px;
  margin-top: auto;
}

.card-grid-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 8px;
  border: solid 2px var(--light-grey-color);
  border-radius: 4px;
  width: 48px;
  height: 48px;
}

.card-grid-toggle svg {
  fill: var(--black-color);
}

.card-grid-toggle {
  border: solid 2px var(--light-grey-color);
  width: 48px;
  height: 48px;
  border-radius: 4px;
}

.card-grid-toggle:hover {
  border: solid 2px var(--black-color);
}

.card-grid-toggle:focus {
  border: solid 2px #68A2CA;
}

.card-grid-toggle:active {
  border: solid 2px var(--black-color);
}

.catalog-filter {
  color: var(--white-color);
  display: flex;
  width: 1056px;
  margin-right: 0px;
  margin-top: 36px;
  margin-bottom: 70px;
  margin-left: 70px;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  padding-bottom: 30px;
}

.catalog-filter-group {
  flex-direction: column;
  font-size: 18px;
  line-height: 21px;
  width: 150px;
  margin-left: 0;
  margin-right: 70px;
  padding: 0;
  border: 0;
}

.catalog-filter-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.catalog-filter-item:nth-last-child(n+2) {
  padding-bottom: 16px;
}

.control-input {
  margin-right: 19px;
}

.catalog-filter-form {
  display: flex;
}

.breadcrumbs {
  width: 110px;
}

.breadcrumbs:hover {
  opacity: 0.6;
}

.breadcrumbs:focus {
  color: var(--white-color);
}

.breadcrumbs:active {
  opacity: 0.3;
}

.breadcrumbs-link {
  padding-left: 10px;
  padding-top: 9px;
  color: var(--white-color);
}

.icon-home {
  position: relative;
  fill: var(--white-color);
  padding-left: 68px;
  padding-top: 2px;
}

.arrow-breadcrumbs {
  padding-left: 6px;
}

.button-catalog {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: var(--white-color);
  background-color: var(--light-blue-color);
  text-transform: uppercase;
  margin-top: 60px;
  padding: 0;
  width: 160px;
  min-height: 48px;
  border-radius: 4px;
}

.catalog-filter-button {
  padding-left: 460px;
  display: flex;
  flex-direction: column;
}

.reset {
  color: var(--white-color);
  background-color: var(--black-color);
  border: none;
  padding: 20px 0px 0px 0px;
  background: transparent;
}

.select-control {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  width: 160px;
  height: 50px;
  margin-right: auto;
  padding-left: 19px;
  background-image: url('./../images/variant-arrow.svg');
  background-repeat: no-repeat;
  background-position: left 253px bottom 12px;
}

.select-aria-label {
  width: 290px;
  appearance: none;
  border-radius: 4px;
  border: 2px solid var(--select-label);
}

.select-aria-label:hover,
.select-aria-label:focus {
  border: 2px solid #68A2CA;
}

.select-aria-label:active {
  border: 2px solid #3F5E72;
}

.select-aria-label:disabled{
  border: 2px solid rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.3);
}

.select-hotels-total {
  appearance: none;
  border-radius: 4px;
  border: 2px solid var(--select-label);
  background-position: left 123px bottom 12px;
  margin-top: 16px;
}

.hotel-card-name {
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: var(--black-color);
  text-decoration: none;
  padding: 16px 0px;
  margin: 0;
}

.hotel-card-link {
  text-decoration: none;
}

.hotel-card-title {
  font-size: 18px;
  line-height: 21px;
  padding: 0px 0px 16px 0px;
  margin: 0;
  width: 140px;
}

.hotel-card-price {
  font-size: 18px;
  line-height: 21px;
  width: 140px;
  padding-left: 20px;
  margin: 0;
}

.button-basic {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: var(--white-color);
  background-color: var(--brown-color);
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  min-width: 140px;
  padding-top: 9px;
  padding-bottom: 8px;
}

.button-basic:hover {
  background-color: #615048;
}

.button-basic:focus {
  background-color: #615048;
}

.button-basic:active{
  background-color: #756157;
}

.button-basic:active {
  color:rgba(255, 255, 255, 0.3);
}

.button-second {
  background-color: var(--light-blue-color);
  border: none;
}

.button-second:hover  {
  background-color: #68A2CA;
}

.button-second:focus {
  background-color: #68A2CA;
}

.button-second:active {
  color:rgba(255, 255, 255, 0.3);
}

.button-selected {
  background-color: var(--green-color);
  border: none;
}

.button-selected:hover {
  background-color: #6C9E42;
}

.button-selected:focus {
  background-color: #6C9E42;
}

.button-selected:active {
  color:rgba(255, 255, 255, 0.3);
}

.rating-button {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  background-color: var(--light-grey-color);
  border: none;
  border-radius: 4px;
  min-width: 140px;
  min-height: 37px;
  padding: 0;
  text-transform: uppercase;
  margin-left: 160px;
  margin-top: -9px;
}

.hotel-card-image {
  background-image: url("../images/variant-star.svg");
  border-image-repeat: repeat;
}

.pagination {
  display: flex;
  padding: 0;
  margin: 0;
  margin-top: 11px;
  list-style-type: none;
  background-color: var(--white-color);
  margin-right: 8px;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-container {
  display: flex;
  background-color: var(--white-color);
  margin-top: 70px;
  margin-left: 73px;
  justify-content: space-between;
  width: 1056px;
  border-top: 2px solid #E6E6E6;
  padding-top: 17px;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  border-radius: 4px;
  text-align: center;
  color: var(--white-color);
  background-color: var(--light-blue-color);
  text-decoration: none;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  padding-top: 12px;
}

.pagination-link:hover:nth-child(1),
.pagination-link:focus:nth-child(1) {
  background-color: var(--light-blue-color);
}

.pagination-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.pagination-current {
  color: var(--pagination-color);
  background-color: var(--light-grey-color);
  cursor: pointer;
}

.pagination-current:nth-child(1):hover,
.pagination-current:nth-child(1):focus {
  background-color: var(--light-grey-color);
}

.pagination-current:nth-child(1):active {
  color: var(--pagination-color);
}

.hotels-total {
  padding-top: 30px;
  margin: 0;
  font-size: 18px;
  line-height: 21px;
  padding-left: 210px;
}

.main-inner {
  background-image: url("../images/catalog-background-top-1.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

:root {
  --black-color: #333333;
  --white-color: #ffffff;
  --light-grey-color: #F2F2F2;
  --light-blue-color: #82B3D3;
  --select-label: #E5E5E5;
  --brown-color: #756157;
  --green-color: #7DB54F;
  --pagination-color: #000000;
}

.first-block,
.third-block,
.fourth-block {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.box-1,
.box-2,
.box-3 {
  width: 400px;
  height: 384px;
  margin: 0;
  text-align: center;
  }

.second-block {
  display: flex;
}
